@charset "UTF-8";

/* 
Typical device breakpoints 
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.

W3schools
    Extra small devices (phones, 600px and down) 
    Small devices (portrait tablets and large phones, 600px and up)
    Medium devices (landscape tablets, 768px and up)
    Large devices (laptops/desktops, 992px and up)
    Extra large devices (large laptops and desktops, 1200px and up)
*/

@media screen and (min-width: 786px){
    #smartphone {
        height: 550px;
        width: 300px;
    }

    #smartphone #screen {
        top: 68px;
        left: 19px;
        height: 416px;
        width: 236px;
    }

    #social-network-menu {
        flex-direction: column;
        top: 15px;
        right: 15px;
        transform: none;
        left: auto;
    }

    #social-network-menu img {
        height: 65px;
    }
}


@media screen and (min-width: 1366px){
    #smartphone {
        height: 650px;
        width: 375px;
    }

    #smartphone #screen {
        top: 83px;
        left: 21px;
        height: 490px;
        width: 276px;
    }

    #social-network-menu {
        flex-direction: column;
        top: 15px;
        right: 15px;
        transform: none;
        left: auto;
    }

    #social-network-menu img {
        height: 75px;
    }
}


@media screen and (min-width: 1920px){
    #smartphone {
        height: 750px;
        width: 475px;
    }

    #smartphone #screen {
        top: 94px;
        left: 28px;
        height: 565px;
        width: 316px;
    }

    #social-network-menu {
        flex-direction: column;
        top: 15px;
        right: 15px;
        transform: none;
        left: auto;
    }

    #social-network-menu img {
        height: 75px;
    }
}